
body{
  Background: #F8FAFC;

}


.icon,.iconi,.iconw {
  font-size: 1.5rem;
  color: #413f3f;
  cursor: pointer;
}
.icon:hover {
  color: #007bff;
  /* transform: rotateY(360deg); */
  transition: all 0.3s ease;
}
.iconi:hover {
  background: linear-gradient(
    45deg,
    #833AB4,
    #C13584,
    #E1306C,
    #F56040,
    #FCAF45
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* transform: rotateX(360deg); */
  transition: all 0.3s ease;
}
.iconw:hover {
  color: #28a745;
  /* transform: rotateY(360deg); */
  transition: all 0.3s ease;
}

a{
  text-decoration: none !important;
  
}
.contact a{
  color:white !important;
}

.hover:hover{
 transform: scale(1.01);
 transition: .3s;
 /* background-color: #e4f5b6 ; */

}
.hover, .light{
  background-color: #FFFFFF ;
}


.fonts{
  font-size: 30px !important;
  font-weight: 900 !important;
  border: none !important 
}

.input-field div{
  margin-top: 20px;
}

.input-field div input{
  
  
  
  border:none ;
  padding: 12px ;
}
.input-field .Mui-focused fieldset{
  border: 1px solid #a9a4a4 !important;
  
  
 
  
}
.input-field :hover fieldset{
  border: 1px solid #a9a4a4 !important;
  
  
 
  
}
.input-field label{
  color: #928d8d !important;
  translate: 0px -5px ;
  margin-top: 20px;
  

}



.overflow{
  
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bot{
  border:none;
  background-color: transparent;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}
.bot:hover{
  background-color: #7d7a7a4e;
}
.bot:active{
  background-color: #9c9898;
}